header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.labs {

    margin-top: 20px;

    display: flex;
    justify-content: space-around;
}

.labs button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;

    font-size: 20px;
    border-radius: 10px;

    margin: 10px
}

.main {
    margin: 10px;

    display: flex;
    
}

.left-side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 60vh;
}

.bar-btn {
    width: 100%;
    margin-bottom: 10px;


    border-radius: 5px;

    display: flex;
    justify-content: center;
}

.content {
    background-color: rgba(128, 128, 128, 0.342);
    width: 100%;
    
    margin-left: 10px;

    border: 2px solid rgb(80, 80, 80);
    border-radius: 5px;

}

#lab1 div, #lab2 div, #lab3 div, #lab4 div, #lab5 div {
    display: none;
}


