body {
    background-image: url("../img/brigade.jpg");
    background-position: initial;
    background-repeat: repeat;
    background-size: 100%;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;

    background-color: rgba(128, 128, 128, 0.39);
    border-radius: 10px;
    padding: 10px;
}

.actors {
    margin-top: 20px;
    margin-left: 10px;

    background-color: rgba(128, 128, 128, 0.39);
    border-radius: 10px;
    padding: 10px;
}

h1,h2,h3,h4,h5 {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

td {
    margin: auto;
    font-size: 24px;
}



